In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Read the data
data = pd.read_csv('../train.csv')
data.head()

,piece,beats,pitches,beat_pitch
0,./abc/_Polonäs_sexdregasamlingen_del_2_nr_43_9...,"[[1, 5, 7, 9, 11], [1, 3, 5, 7, 9, 11], [1, 5,...","[[74, 69, 67, 66, 64], [62, 79, 78, 76, 78, 76...","[[(1, 74), (5, 69), (7, 67), (9, 66), (11, 64)..."
1,./abc/Pollonesse_ur_Andreas_Dahlgrens_notbok_n...,"[[1, 3, 5, 7, 9, 11], [1, 2, 3, 4, 5], [1, 1, ...","[[67, 79, 79, 78, 79, 76], [76, 78, 79, 76, 74...","[[(1, 67), (3, 79), (5, 79), (7, 78), (9, 79),..."
2,./abc/Polska_efter_Anders_Gustaf_Andersson_0ac...,"[[1, 3, 5, 7, 9, 11], [1, 3, 4, 5, 9], [1, 1, ...","[[81, 76, 77, 76, 77, 79], [81, 77, 81, 79, 76...","[[(1, 81), (3, 76), (5, 77), (7, 76), (9, 77),..."
3,./abc/Polonäs_9c99ae.abc,"[[1, 2, 3, 4, 5, 7, 9, 10, 11, 12], [1, 4, 5, ...","[[74, 72, 70, 69, 67, 62, 60, 58, 57, 55], [67...","[[(1, 74), (2, 72), (3, 70), (4, 69), (5, 67),..."
4,./abc/_Polonäs_sexdregasamlingen_del_2_nr_76_5...,"[[1, 3, 4, 5, 7, 9], [1, 3, 4, 5, 7, 8, 9], [1...","[[79, 78, 76, 74, 72, 71], [67, 67, 71, 69, 69...","[[(1, 79), (3, 78), (4, 76), (5, 74), (7, 72),..."

In [3]:
import ast
# change the note column to list
data['beats'] = data['beats'].apply(ast.literal_eval)
data['pitches'] = data['pitches'].apply(ast.literal_eval)
data['beat_pitch'] = data['beat_pitch'].apply(ast.literal_eval)